<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegexFileSorter.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RegexFileSorter.MySettings>
            <setting name="SFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Regex" serializeAs="String">
                <value />
            </setting>
            <setting name="InPlace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JSONConfig" serializeAs="String">
                <value />
            </setting>
        </RegexFileSorter.MySettings>
    </userSettings>
</configuration>